.admin-usuarios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin-usuarios div button {

    display: inline-block;
    background: linear-gradient(to right, #007BFF, #00A5FF);
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s;
}

.admin-usuarios div button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #0056b3, #008ce6);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}


.admin-table tr th{
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  background-color: #f2f2f2;
}

.admin-table tr td{
  padding: 10px;
  border: 1px solid black;
}

.admin-table tr .oculto{
  visibility: hidden;
}



/* Botones */
button {
  display: inline-block;
  background: linear-gradient(to right, #007BFF, #00A5FF);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.3s;
}

button:hover  {
  cursor: pointer;
  background: linear-gradient(to right, #0056b3, #008ce6);
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}