/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #007BFF, #00A5FF);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

/* Navegación */
nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
}

nav a:hover {
    color: #007BFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/* Contenido principal */
#contenido {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #007BFF;
}

/* Botones */
a.button, button[type="submit"] {
    display: inline-block;
    background: linear-gradient(to right, #007BFF, #00A5FF);
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background 0.3s;
}

a.button:hover, button[type="submit"]:hover {
    background: linear-gradient(to right, #0056b3, #008ce6);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Galería de imágenes */
#galeria {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

#galeria .imagen {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
}

#galeria .imagen:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#galeria .imagen img {
    max-width: 100%;
    height: auto;
}

/* Sección de médicos reconocidos */
#medicos-reconocidos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Añadir flex-wrap para permitir el ajuste en pantallas pequeñas */
    justify-content: space-between;
}

#medicos-reconocidos h2 {
    font-size: 24px;
    color: #007BFF;
}

.medico {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px; /* Añadir margen inferior para separar las tarjetas de los médicos */
    transition: transform 0.3s;
}

.medico:last-child {
    margin-right: 0;
}

.medico:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.medico img {
    max-width: 100%;
    height: auto;
}

.medico h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #007BFF;
}

.medico p {
    font-size: 16px;
    color: #555;
}

/* Sección de redes sociales */
#redes-sociales {
    margin-top: 20px;
    text-align: center;
}

#redes-sociales h2 {
    font-size: 24px;
    color: #007BFF;
}

#redes-sociales ul {
    list-style: none;
    padding: 0;
}

#redes-sociales li {
    display: inline;
    margin-right: 10px;
}

#redes-sociales a img {
    width: 32px;
    height: 32px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.3s;
}

#redes-sociales a img:hover {
    background: linear-gradient(to right, #007BFF, #00A5FF);
    border-color: #0056b3;
    color: #fff;
    transform: rotate(360deg);
}

/* Formulario de consulta */
#consultas {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#consultas h2 {
    font-size: 24px;
    color: #007BFF;
}

#consultas p {
    font-size: 16px;
    color: #555;
}

/* Estilos para los cuadros de inicio de sesión y registro */
        .formulario-box {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 10px;
}


#consultas form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.form-group select {
    cursor: pointer;
}

button[type="submit"] {
    background: linear-gradient(to right, #007BFF, #00A5FF);
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #0056b3, #008ce6);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Consulta de medios para estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    #medicos-reconocidos {
        flex-direction: column;
    }

    .medico {
        flex: 100%;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    #medicos-reconocidos h2 {
        font-size: 20px;
    }

    .medico h3 {
        font-size: 18px;
    }

    .medico p {
        font-size: 14px;
    }
}
